h1{
    text-align: center;
}

.heading{
text-align: center;
color: white;

}
.flex-item {

    background-color: rgb(189, 66, 18);
    border-radius: 5%;
    width: 50%;
    height: 40%;
    margin: 3em;
    text-align: center;

    
}
.flexcontainer{
        display: flex;
        display: -webkit-flex;
        width: 100%;   
        background-color: bisque;     
    }
    p{
        text-align: left;
    }
    ul{
        font-size: 20px;
        font-weight: bold;
    }
.institution{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;

}