*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 24, 24)
}
nav {
    background-color: rgb(112, 13, 13);
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

nav a{
    margin: .2em 1em 0px 1em;
    color: burlywood;
}

.links {
    color: burlywood;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

p{
color: white;
}
