
.wrapper
{
    font: italic bold 12px/30px Georgia, serif;
    text-align: center;
}


.flex-container{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color:lightgoldenrodyellow;
    color:black;

}
main{
    flex:2;
    margin:1em;
}
.img-jail
{
    width:auto;
    height:auto;
    overflow:hidden;
    border-radius:8px;
    max-width: 400px; 
    max-height: 400px;
}
aside{
    flex: 1;
    margin: 1em;
}
p {
    color:black;
}
h3{
    color:black;
}