
.wrapper
{
    font: italic bold 12px/30px Georgia, serif;
    text-align: center;
}


.flex-container{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color:lightgoldenrodyellow;
    color:black;

}
.miller img
{
    width:100%;
    height:auto;
    overflow:hidden;
    border-radius:8px;
    max-width:500px;
    max-height:500px;
    
}
main{
    flex:2;
    margin:1em;
}
.img-jail img
{
    width:60%;
    height:60%;
    overflow:hidden;
    border-radius:8px;

}
aside{
    flex: 1;
    margin: 1em;
}
p {
    color:black;
}
h3{
    color:black;
    text-decoration: underline;

}